body {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-image: url(./images/briks.jpg);
}
h1 {
    color: white;
}
h2 {
    color: yellow;
}
button {
    background-color: aqua;
    color: red;
    font-weight: 700;
    width: 130px;
    padding: 10px;
}
p {
    color: aliceblue;
    font-size: large;
    font-family: serif;
}