body {
    background-color: wheat;
    text-align: center;
    background-image: url(./images/briks.jpg);
}
h1 {
    color: white;
    font-weight: bold;
}
h2 {
    color: honeydew;
    font-size: 50px;
}
#increment-btn {
    border-radius: 2rem;
    background-color: aquamarine;
    height: 60px;
    width: 190px;
}